# Build output:
lib/
dist/
/serverConfig.json
/clientConfig.json

# Package managers:
node_modules/
npm-debug.log
package-lock.json
yarn-error.log
stats.json

# Editors:
.DS_Store
.idea/
.vscode/

# Chrome data:
chromeData/

# Images:
images/
